.bold {
  font-weight: bold;
}

.striked {
  text-decoration: line-through;
}

.mono {
  font-family: monospace;
}

.italic {
  font-style: italic;
}

.underlined {
  text-decoration: underline;
}

.marked {
  background: #ffda06;
}

.small {
  font-size: 10px;
}

p.labname {
  font-size: 28px;
  font-weight: bold;
}

p.labpart {
  font-size: 22px;
  font-weight: bold;

}

p.partpart {
  font-size: 18px;
  font-weight: bold;

}

