.schedtable-cell, .schedtable-merged {
  text-align: center;
  border: 1px solid #333;
  float: left; /* fix for  buggy browsers */
  display: table-column;
  flex-basis: 33.33%;
}

.schedtable-merged {
  flex-basis: 66.66%;
}

.schedtable {
  display: table;
  width: auto;
  border: 1px solid #333;
  padding: 3px;
}

.title {
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;
  #margin: 2px;
}

.schedtable-row {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  clear: both;
}

